body {
    background-color: #020202 !important;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;

  & h1 {
    color: #0D2818;
  }

  & input {
    padding: 10px;
    border-radius: 5px;
    background-color: #04471b63;
    color: #0A9548;
    border: none;
  }

  & input:focus {
    outline: 0;
  }

  & button {
    padding: 12px;
    border-radius: 5px;
    color: white;
    background: #04471C;
    border: none;
  }

  & span {
    color: #0A9548;
  }

  & span:hover {
    cursor: pointer;
  }

}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background-color: #04471b63;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.completed {
  text-decoration: line-through;
  color: grey;
}
